ul li{
    list-style:	 none;
}
p {
    font-size: 3vw;
}
#mainNav #title1{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#mainNav #title1 li:hover{
    background-color: cornsilk;
    border-radius: 8px;
}
#mainNav #title1 a{
    color: white;
    transition: color 0.3s ease;
    padding: 0 10px;
}
#mainNav #title1 a:hover{
    border-color: slateblue !important;
    color: red !important;
}
#contacts .left11,#contacts .right11,.left11,.right11{
    flex: 1;
    margin-bottom: 0;
    /* padding: 20px; */
}
#contacts .left11 .lead,#contacts .right11 .lead{
    margin-bottom: 0;
}

#Reviewer{
    width: 100%;
}
#Reviewer li{
    display: flex;
}

#Reviewer li h4{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 0;
}

#contacts{
    padding: 0;
}
#contacts .section-heading{
    margin-bottom: 0;
}

#committee .section-heading a{
    font-size: 18px;
}
.masthead .align-self-baseline a{
    font-size: 1vw;
    color: white;
   
}