ul li{
    list-style:	 none;
}
p {
    font-size: 3vw;
}
a.underline {
    text-decoration: underline;
  }
#mainNav #title1{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#mainNav #title1 li:hover{
    background-color: cornsilk;
    border-radius: 8px;
}
#mainNav #title1 a{
    color: white;
    transition: color 0.3s ease;
    padding: 0 10px;
}
#mainNav #title1 a:hover{
    border-color: slateblue !important;
    color: red !important;
}
#contacts .left11,#contacts .right11,.left11,.right11{
    flex: 1;
    margin-bottom: 0;
    /* padding: 20px; */
}
#contacts .left11 .lead,#contacts .right11 .lead{
    margin-bottom: 0;
}

#Reviewer{
    width: 100%;
}
#Reviewer li{
    display: flex;
}

#Reviewer li h4{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 0;
}

#contacts{
    padding: 5px 0;
}
#contacts .section-heading{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 18px;
}

#contacts .lead{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center !important;
}

#committee .section-heading{
    margin: 5px;
}
#committee .section-heading a{
    font-size: 14px;
    text-decoration: underline;
   
}
#committee .fadeInRightBig img{
    width: 150px;
    height: 150px;
}

#committee .section-heading + h6{
    margin: 0;
    text-align: center;
}

.masthead .align-self-baseline a{
    font-size: 1vw;
    color: white;
   
}
.masthead .align-self-baseline p:nth-child(5) a {
    text-decoration: underline;
  }

#introduction .wow.fadeInRightBig{
    width: 100%;
}

#invited .fadeInRightBig .wow b{
    display: block;
    text-align: center;
}

#dates .fadeInRightBig a{
    text-decoration: underline;
}